.arrow {
    font-size: 5em;
    cursor: pointer;
}

.season-info-container {
    display: flex;
    justify-content: space-between;
    color: #BBE1FA;
}

.season-info-element {
    display: block;
}