.searchbar-container {
    width: 30em;
    display: inline-block;
}

.app-title {
    color: #BBE1FA;
    text-align: left;
}

hr {
    border: 1px solid #0F4C75;
    width: 100%;
}

.player-container {
    width: 30em;
    display: inline-block;
}