.stats-item {
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    white-space: pre-wrap;
}

.stats-name {
    color: #BBE1FA;
    width: 50%;
    text-align: right;
}

.stats-value {
    color: #FEE372;
    width: 50%;
    text-align: left;
}

.tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #FEE372;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}