.player-info-container {
    display: flex;
    justify-content: space-between;
}

.player-info {
    text-align: left;
}

.player-name {
    color: #BBE1FA;
    margin-bottom: 0;
}

.player-team {
    color: #3282B8;
    margin-top: 0;
}