.stat-item {
    font-size: 1em;
    display: flex;
    white-space: pre-wrap;
}

.stat-name {
    color: #BBE1FA;
    width: 50%;
    text-align: right;
}

.stat-value {
    color: #FEE372;
    width: 50%;
    text-align: left;
}

.arrow {
    font-size: 5em;
    cursor: pointer;
}

.season-info-container {
    display: flex;
    justify-content: space-between;
    color: #BBE1FA;
}

.season-info {
    margin: auto;
}

.season-info-element {
    display: block;
    font-size: 1em;
}