h1 {
    color: #BBE1FA;
    font-style: normal;
}

.searchbox {
    background: #31444F;
	border: 1px solid;
    border-radius: 10px;
    border-color: transparent;
    width: 40%;
    outline: none;
    text-align: left;
    color: #BBE1FA;
    padding: 15px 0px 15px 20px;
    font-size: 18px;
}

.searchbox:focus{
	transition: border .1s linear;
	border: 1px solid #BBE1FA;
}

::placeholder {
    color: #BBE1FA;
    font-family: Montserrat;
}

.searchbutton {
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    color: #BBE1FA;
    position: relative;
    right: 44px;
    cursor: pointer;
}