.arrow {
    font-size: 5em;
    cursor: pointer;
}

.arrow-disabled {
    font-size: 5em;
    color: #344049;
    cursor: default;
}

.season-info-container {
    display: flex;
    justify-content: space-between;
    color: #BBE1FA;
}

.season-info {
    margin: auto;
}

.season-info-element {
    display: block;
    font-size: 1em;
}